<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/approval.css" />
    <title>Operator Users Preview</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('operator_homepage') }}">Main Page</a></li>
                <li><a href="{{ url_for('approval') }}">Users Info</a></li>
                <li><a href="{{ url_for('operator_borrowed') }}">Borrowed Books</a></li>
                <li><a href="{{ url_for('operator_reserved') }}">Reserved Books</a></li>
                <li><a href="{{ url_for('operator_reviews') }}">Reviews</a></li>
            </ul>
        </nav>
    </div>

    <div class="form">
        <form>
            <h2>All Pending Users</h2><br>
            {% for user in pending_users %}
            <ul class="pending">
                <li>
                    <h4>{{ first_name }} {{ last_name }}</h4>
                    <p>Username: {{ username }}</p><br>
                    <p>Age: {{ age }}</p><br>
                    <p>Role: {{ role }}</p><br>
                    <button name="approve">Approve</button>
                    <button name="decline">Decline</button>
                </li>
            </ul>
            {% endfor %}

            <h2>All Approved Users</h2><br>
            {% for user in approved_users %}
            <ul class="approved">
                <li>
                    <h4>{{ first_name }} {{ last_name }}</h4>
                    <p>Username: {{ username }}</p><br>
                    <p>Age: {{ age }}</p><br>
                    <p>Role: {{ role }}</p><br>
                    <button name="decline">Decline</button>
                </li>
            </ul>
            {% endfor %}

            <h2>All Declined Users</h2><br>
            {% for user in declined_users %}
            <ul class="declined">
                <li>
                    <h4>{{ first_name }} {{ last_name }}</h4>
                    <p>Username: {{ username }}</p><br>
                    <p>Age: {{ age }}</p><br>
                    <p>Role: {{ role }}</p><br>
                    <button name="approve">Decline</button>
                </li>
            </ul>
            {% endfor %}
        </form>
    </div>
</body>
</html>