<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/signup.css" />
    <title>Change Info Page</title>
</head>
<body>
    <div class="header">
        <h1>Change your Personal Information</h1>
        <h2>Studetnts can only change their password, while teachers all of their info</h2>
    </div>

  <form action="{{ url_for('update_info') }}" method="POST">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ username }}" readonly>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="{{ password }}" required>

        {% if role == 'Student' %}
        <!-- Display current values for readonly fields -->
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="first-name" value="{{ first_name }}" readonly>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="last-name" value="{{ last_name }}" readonly>

        <label for="school">School:</label>
        <input type="text" id="school" name="school" value="{{ school_name }}" readonly>

        {% elif role == 'Teacher' %}
        <!-- Allow changing values for all fields -->
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="first-name" value="{{ first_name }}" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="last-name" value="{{ last_name }}" required>

        <label for="school">School:</label>
        <input type="text" id="school" name="school" value="{{ school_name }}" required>
        {% endif %}

    </fieldset>
    <div class="button">
        <button type="submit" name="submit">Update Info</button>
    </div>
  </form>
</body>
</html>