<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_books.css" />
    <title>Operator Books</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('operator_homepage') }}">Main Page</a></li>
                <li><a href="{{ url_for('approval') }}">Users Info</a></li>
                <li><a href="{{ url_for('operator_borrowed') }}">Borrowed Books</a></li>
                <li><a href="{{ url_for('operator_reserved') }}">Reserved Books</a></li>
                <li><a href="{{ url_for('operator_reviews') }}">Reviews</a></li>
            </ul>
        </nav>
    </div>

    <div class="form">
        <div class="f">
            {% if choice == 'books' %}
                <h2>All Available Books</h2>
            {% elif choice == 'category' %}
                <h2>All Books based on Category: {{ category }}</h2>
            {% elif choice == 'author' %}
                <h2>All Books based on Author: {{ author }}</h2>
            {% elif choice == 'copies' %}
                <h2>All Books based on {{ copies }} Available Copies</h2>
            {% elif choice == 'title' %}
                <h2>All Books based on Title: {{ title }}</h2>
            {% endif %}

            <ul class="book">
                <!-- Loop through the reserved books data and generate list items -->
                {% for book in books %}
                <li>
                    <img src="{{ book.img }}" alt="{{ book.title }}" />
                    <div class="book-info">
                        <h3>Title: {{ book.title }}</h3>
                        <p>Isbn: {{ book.isbn }}</p>
                        <p>Publisher: {{ book.publisher }}</p>
                        <p>Number of Pages: {{ book.number_of_pages }}</p>
                        <p>Summary: {{ book.summary }}</p>
                        <p>Available Copies: {{ book.available_copies }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>