<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_homepage.css" />
    <title>Operator Main Page</title>
</head>

<body>
    {% if message %}
    <div class="flash">
        <span class="message">{{ message }}</span>
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endif %}
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('operator_homepage') }}">Main Page</a></li>
                <li><a href="{{ url_for('approval') }}">Users</a></li>
                <li><a href="{{ url_for('operator_borrowed') }}">Borrowed Books</a></li>
                <li><a href="{{ url_for('operator_reserved') }}">Reserved Books</a></li>
                <li><a href="{{ url_for('operator_reviews') }}">Reviews</a></li>
                <li><a href="{{ url_for('edit_personal_info') }}">Change Info</a></li>
            </ul>
        </nav>
    </div>

    <div class="form">
        <form action="/operator_books", method="POST">
            <div class="labels">
                <button class="books" type="submit" name="available_books" value="books">See All Available Books</button><br>

                <input type="text" name="title" placeholder="Search by Book Title">
                <input type="radio" name="choice" value="title"><br>

                <input type="text" name="author" placeholder="Search by Book Author">
                <input type="radio" name="choice" value="author"><br>

                <input type="text" name="copies"placeholder="Search by Available Copies">
                <input type="radio" name="choice" value="copies"><br>

                <select name="categories">
                    <option disabled selected value="">Search by Category</option>
                    <option>Seretakos</option>
                    <option>Katsis</option>
                </select>
                <input type="radio" name="choice" value="category">
            </div>

            <div class="search">
                <button class="search" type="submit" name="search" value="search">Search</button>
            </div>
        </form>
    </div>
</body>
</html>