<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_borrowed.css" />
    <title>Operator Borrowed Page</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="operator_homepage.html">Main Page</a></li>
                <li><a href="operator_users.html">Users Info</a></li>
                <li><a href="operator_borrowed.html">Borrowed Books</a></li>
                <li><a href="operator_reserved.html">Reserved Books</a></li>
                <li><a href="operator_reviews.html">Reviews</a></li>
            </ul>
          </nav>
    </div>

    <div class="form">
        <form>
            <div class="labels">
                <div class="user_search">
                    <input type="text" name="user_loans" placeholder="Search by user">
                    <button type="submit" name="search">Search</button><br>
                </div>

                <button type="submit" name="delayed_books">See delayed books</button><br>

                <button type="submit" name="new_loan">Make a Loan</button><br>              
            </div>

            <div>
                <p>All Borrowed Books</p>
                <ul class="books">
                    <!-- Loop through the borrowed books data and generate list items -->
                    {% for book in borrowed_books %}
                    <li>
                        <img src="{{ book.image }}" alt="{{ book.title }}" />
                        <div class="book-info">
                            <h2>{{ book.title }}</h2>
                            <h5>{{ book.author }}</h5>
                            <!-- Add other book information as needed -->
                            <button type="submit" name="return">Return Book</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</body>
</html>