<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_borrowed.css" />
    <title>Operator Borrowed Page</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('operator_homepage') }}">Main Page</a></li>
                <li><a href="{{ url_for('approval') }}">Users</a></li>
                <li><a href="{{ url_for('operator_borrowed') }}">Borrowed Books</a></li>
                <li><a href="{{ url_for('operator_reserved') }}">Reserved Books</a></li>
                <li><a href="{{ url_for('operator_reviews') }}">Reviews</a></li>
                <li><a href="{{ url_for('edit_personal_info') }}">Change Info</a></li>
            </ul>
        </nav>
    </div>

    <div class="form">
        <form>
            <div class="labels">
                <div class="user_search">
                    <form action="/operator_borrowed_user", method="POST">
                        <input type="text" name="user_loans" placeholder="Search by username">
                        <button type="submit" name="search" value="user">Search</button><br>
                    </form>
                </div>

                <form action="/operator_borrowed_delayed", method="POST">
                    <button type="submit" name="delayed_books" value="delayed">See delayed books</button><br>
                </form>
                
                <form action="/operator_borrowed_new", method="POST">
                    <button type="submit" name="new_loan" value="new">Make a Loan</button><br>
                </form>   
            </div>

            <div>
                <form action="/operator_borrowed", method="POST"></form>
                <h2>All Borrowed Books</h2>
                <ul class="book">
                    <!-- Loop through the borrowed books data and generate list items -->
                    {% for book in books %}
                    <li>
                        <img src="{{ book.img }}" alt="{{ book.title }}" />
                        <div class="book-info">
                            <h3>Title: {{ book.title }}</h3>
                            <p>Isbn: {{ book.isbn }}</p>
                            <p>Publisher: {{ book.publisher }}</p>
                            <p>Number of Pages: {{ book.number_of_pages }}</p>
                            <p>Summary: {{ book.summary }}</p>
                            <p>Available Copies: {{ book.available_copies }}</p>
                            <p>User Name: {{ book.first_name }} {{ book.last_name }}</p>
                            <p>Loan Date: {{ book.loan_date }}</p>
                            <p>Return Date: {{ book.return_date }}</p>
                            <p>Delayed: {% if book.del %} Yes {% else %} No {% endif %}</p>
                            <button name="return" value='{{ book.book_id }}'>Return Book</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</body>
</html>