<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_reserved.css" />
    <title>Operator Reserved Books</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('operator_homepage') }}">Main Page</a></li>
                <li><a href="{{ url_for('approval') }}">Users Info</a></li>
                <li><a href="{{ url_for('operator_borrowed') }}">Borrowed Books</a></li>
                <li><a href="{{ url_for('operator_reserved') }}">Reserved Books</a></li>
                <li><a href="{{ url_for('operator_reviews') }}">Reviews</a></li>
            </ul>
        </nav>
    </div>

    <div class="form">
        <form>
            <div class="labels">
                <input type="text" name="user_reservations" placeholder="Search by user">
                <button type="submit" name="search">Search</button><br>     
            </div>

            <div>
                <p>All Reserved Books</p>
                <ul class="books">
                    <!-- Loop through the borrowed books data and generate list items -->
                    {% for book in reserved_books %}
                    <li>
                        <img src="{{ book.image }}" alt="{{ book.title }}" />
                        <div class="book-info">
                            <h2>{{ book.title }}</h2>
                            <h5>{{ book.author }}</h5>
                            <!-- Add other book information as needed -->
                            <button type="submit" name="approve">Approve Reservation</button><br>
                            <button type="submit" name="reject">Reject Reservation</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</body>
</html>