<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/operator_books.css" />
    <title>Operator Books</title>
</head>

<body>
    <div class="navbar">
        <nav>
            <ul class="navbar">
                <li><a href="operator_homepage.html">Main Page</a></li>
                <li><a href="operator_users.html">Users Info</a></li>
                <li><a href="operator_borrowed.html">Borrowed Books</a></li>
                <li><a href="operator_reserved.html">Reserved Books</a></li>
                <li><a href="operator_reviews.html">Reviews</a></li>
            </ul>
          </nav>
    </div>

    <div class="form">
        <form>
            {% if choice == 'category' %}
                <h2>All Books based on Category: {{ name }}</h2>
            {% elif choice == 'author' %}
                <h2>All Books based on Author: {{ name }}</h2>
            {% elif choice == 'copies' %}
                <h2>All Books based on {{ name }} Available Copies</h2>
            {% elif choice == 'title' %}
                <h2>All Books based on Title: {{ name }}</h2>
            {% else %}
                <h2>All Available Books</h2>
            {% endif %}

            <ul class="reserved-books">
                <!-- Loop through the reserved books data and generate list items -->
                {% for book in books %}
                <li>
                    <img src="{{ book.image }}" alt="{{ book.title }}" />
                    <div class="book-info">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                        <!-- Add other book information as needed -->                    </div>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</body>
</html>