* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-image: url("../images/library.jpg");
    background-repeat: repeat;
    background-size: cover;
}

body {
    margin: auto;
    padding: 0;
    width: 100%;
    font-weight: bold;
}

.navbar {
    top: 0;
    background-color: black;
    opacity: 85%;
    border-bottom: 1px solid white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: white;
    color: black;
}

.form {
    margin: 2.5rem auto;
    height: 40rem;
    background-color: black;
    color: white;
    opacity: 85%;
    border-radius: 1rem;
    width: 72%;
    border: 1px solid white;
}

form {
    margin: auto;
    width: 70%;
    height: 100%;
}

.labels{
    /* width: 100%; */
    height: 80%;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    margin-top: 1%;
}

.search {
    margin: 0 auto 0 auto;
    height: 20%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button.books {
    font-weight: bold;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 50%;
    height: 2rem;
}

button.search {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 70%;
    height: 3rem;
}

button:hover {
    background-color: white;
    color: black;
}

input, select {
    width: 17rem;
    height: 2rem;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

.books, input, select {
    margin: 2rem;
}